.product-container {
    display: flex;
}

.product {
    margin-right: 5px;
}




.owl-carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.owl-carousel::-webkit-scrollbar {
    display: none;

}
.btn-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red; /* Adjust badge background color as needed */
    color: white; /* Adjust badge text color as needed */
    border-radius: 50%;
    padding: 4px;
    font-size: 12px; /* Adjust badge font size as needed */
}



